/*
*** Primary Color: Blue
---------------------------------------------------
shade 1 = #737D91 - Light
shade 2 = #525D76
shade 0 = #3B465E - Main
shade 3 = #243048
shade 4 = #15213B - Dark

*** Secondary Color: Purple
---------------------------------------------------
shade 1 = #7E7795 - Light
shade 2 = #5D5579
shade 0 = #453D60 - Main
shade 3 = #2E264A
shade 4 = #1F173D - Dark

*** Secondary Color: Green
---------------------------------------------------
shade 1 = #668483 - Light
shade 2 = #476B6A
shade 0 = #325554 - Main
shade 3 = #1E4140
shade 4 = #103634 - Dark
*/
:root{
  --dark-blue: #15213B;
  --main-blue: #3B465E;
  --light-blue: #737D91;
}
.navbar{
    background-color: var(--dark-blue);
  }
#tasks{
  background-color: var(--light-blue);
}

.breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}
/* Dropdown Button */
.dropbtn {
    background-color: var(--dark-blue);
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
