/*
*** Primary Color: Blue
---------------------------------------------------
shade 1 = #737D91 - Light
shade 2 = #525D76
shade 0 = #3B465E - Main
shade 3 = #243048
shade 4 = #15213B - Dark

*** Secondary Color: Purple
---------------------------------------------------
shade 1 = #7E7795 - Light
shade 2 = #5D5579
shade 0 = #453D60 - Main
shade 3 = #2E264A
shade 4 = #1F173D - Dark

*** Secondary Color: Green
---------------------------------------------------
shade 1 = #668483 - Light
shade 2 = #476B6A
shade 0 = #325554 - Main
shade 3 = #1E4140
shade 4 = #103634 - Dark
*/
:root{
  --dark-blue: #15213B;
  --main-blue: #3B465E;
  --light-blue: #737D91;
}
.navbar{
    background-color: var(--dark-blue);
  }
.btn{
  background-color: var(--dark-blue);
}
.breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}
